
.outer {

    margin: auto 6%;

    background-color: white;
}

.navbar {

    background-color: #353A3F;

}

.navbar h2 {
    padding-left: 1%;
    color: white;

}

#gear {

    padding-left: 3%;

}

#user {

    padding-left: .5%;

}

.mainContent {

    background-color:#f8f9fA;

    padding-bottom: 0.5%;

    padding-top: 0.5%;

}

.mainContent input {

    font-size: 15px;;

}

.mainContent button {

    font-size: 10px;
    
}

#headerList {

    margin-top: 1%;

}

#inputSpan1 {

    margin-left: 1.5%;

    margin-right: 3.5%

}

#addNewList {

    margin: 1% 0;

}

li {

    cursor: pointer;

}

li:hover {

    background-color: lightgray;

}



