.outer {

    margin: 0 6%;

    background-color: white;
}

.navbar {

    background-color: #353A3F;

}

.navbar h2 {

    color: white;

}

.mainContent {

    background-color:#f8f9fA;
    padding-bottom: 0.5%;

}

.mainContent input {

    margin-top: 10px;

    font-size: 20px;

    margin-bottom: 10px;

}

.mainContent button {

    font-size: 20px;
    padding-right: 15px;
    
}
